<div class="divMainWrapper">
  <div class="divMainLeft">
    <nav>
      <ul>
        <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First</a></li>
        <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second</a></li>
        <li><a routerLink="/rxjs-obvls-component" routerLinkActive="active" ariaCurrentWhenActive="page">Rxjs Observables</a></li>
        <li><a routerLink="/ang-material-component" routerLinkActive="active" ariaCurrentWhenActive="page">Angular Material</a></li>
        <li><a routerLink="/articles-component" routerLinkActive="active" ariaCurrentWhenActive="page">Articles</a></li>
      </ul>
    </nav>
  </div>
  <div class="divMainRight">
    <router-outlet />
  </div>
</div>
