
.divMainLeft
{
    margin: 0;
    padding: 0;
}
.divMainLeft
{
    float: left;
    width: 10%;
    min-width: 200px;;
    height: 100%;
    border: 1px red solid
}
.divMainRight
{
    float: left;
    width: 85%;
    border: 1px red solid;
    padding: 10px;
}