<mat-toolbar color="primary">
    <span class="fill-remaining-space">Create An Article</span>
  </mat-toolbar>
  
  <div class="container" *ngIf="!post; else forminfo" novalidate> 
    <form [formGroup]="articleGroup" (ngSubmit)="onSubmit(articleGroup.value)" class="form">
  
      <mat-form-field class="form-element">
        <input matInput type="text" placeholder="Enter a Title of Article" formControlName="title">
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input matInput [type]="dynamictype" placeholder="Enter content of Article" formControlName="content">
      </mat-form-field>
  
      <!-- <input type="number" placeholder="default input, type via template" formControlName="defaulttemp"/>
      <br />
      <input [type]="dynamictype" placeholder="default input, type via component" formControlName="defaultdyn"/>
      <br />
      <input type="number" [type]="dynamictype" placeholder="default input, additional type attribute" formControlName="defaultadditional"/>
   -->
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!articleGroup.valid">Submit Form</button>
      </div>
  
    </form>
  </div>
  <app-card style="width: 100px;"></app-card>
  
  <ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
  </ng-template>